<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ab.health"
    android:versionCode="18"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.NFC" />
 
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    

    <application
        android:name="com.baidu.frontia.FrontiaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
       
        <activity
            android:name=".AdStartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
         <activity
            android:name=".ActivityTxl"
            android:screenOrientation="portrait" >
             <intent-filter>  
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />  
                <category android:name="android.intent.category.DEFAULT" />  
                <data  android:mimeType="text/plain" />
            </intent-filter>  
            
            <intent-filter>  
                <action android:name="android.nfc.action.TECH_DISCOVERED" />  
                <category android:name="android.intent.category.DEFAULT" />  
                 <meta-data  
                android:name="android.nfc.action.TECH_DISCOVERED"  
                android:resource="@xml/nfc_tech_filter" />  
            </intent-filter>  
  
            <intent-filter>  
                <action android:name="android.nfc.action.TAG_DISCOVERED" />    
                <category android:name="android.intent.category.DEFAULT" />  
            </intent-filter>  
        </activity>
        
        <activity
            android:name=".RecentListActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".PatrolQueryActivity"
            android:screenOrientation="portrait" >
        </activity>
         
        <activity
            android:name=".TongXunLuActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
         
        <activity
            android:name=".FirstUseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".contactstview.ActivityTxl"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CoreBriefActivity"
            android:screenOrientation="portrait" >
        </activity>
       <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
       
        <activity
            android:name=".GongGaoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GongGaoDetailActivity"
            android:screenOrientation="portrait" >
        </activity>       

        
    </application>

</manifest>